@model SW.Site.Models.Produto
@using SW.Site.Enumerators
@{
    ViewData["Title"] = "Create";
}
<script>
    $(document).ready(function () {
        $("#txtPreco").maskMoney({ prefix: 'R$ ', allowNegative: true, thousands: '.', decimal: ',', affixesStay: false });
    }
</script>

<div class="form-group">
    <label asp-for="Nome" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="Nome" class="form-control" />
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>
</div>
<div class="form-group">
    <label asp-for="Preco" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="Preco" class="form-control" id="txtPreco"/>
        <span asp-validation-for="Preco" class="text-danger"></span>
    </div>
</div>
<div class="form-group">
    <label asp-for="Promocao" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <select asp-for="Promocao" asp-items="Html.GetEnumSelectList<TipoPromocaoEnum>()">
            <option selected="selected" value="">Selecione</option>
        </select>
        <span asp-validation-for="Promocao" class="text-danger" />
    </div>
</div>
