@model IEnumerable<SW.Site.Models.ItemLoja>
@using SW.Site.Models;
@{
    ViewData["Title"] = "Index";
}
<h2>LOJA</h2>
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Promocao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Preco)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Promocao)
                </td>
                <td>
                    <input asp-for="@item.Quantidade" class="txtQuantidade" asp-action="AddToCart" type="text" value="1"/>|
                    <a asp-action="AddToCart" asp-route-id="@item.Id" asp-controller="ItensLoja">Add to cart</a> |
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="CheckOut" class="btn btn-success"asp-controller="ItensLoja">CheckOut</a>

